/* Import external stylesheets first */

/* Font Face 'Poppins' */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

//Global Styles
//To remove scrollbar
.scrollable-content::-webkit-scrollbar {
  display: none;
}

:root {
  --bs-body-font-family: "Poppins", sans-serif;
  --bs-font-sans-serif: "Poppins", sans-serif;
}
.bg-light {
  --bs-bg-opacity: 10% !important;
}

// Color Palette
$primary-color: #010125;
$secondary-color: #1b2fff;
$variant-color: #000cff;
$accent-color: #e3daff;
$background-color: #e5efff;
$background-color-2: #ecf4ff;

body {
  background-color: $background-color-2;
}

//Text
.text-primary {
  color: $primary-color !important;
  opacity: 2;
}

.p {
  text-align: justify;
}
// hr {
//   border: 0 !important;
//   border-top: 3px solid #010125 !important;
//   width: 60% !important;
// }

//Buttons
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $background-color;
  border-radius: 50px;
  /* Use #e5efff in the box-shadow property */
  box-shadow: rgba(229, 239, 255, 0.3) 0 19px 38px,
    rgba(229, 239, 255, 0.22) 0 15px 12px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.btn-primary:hover {
  background-color: $background-color; /* Change this to the desired hover background color */
  border: $background-color;
  color: $primary-color; /* Change this to the desired hover text color */
  transform: scale(1.1); /* Change this to the desired scale factor */
}

.btn-outline-secondary {
  background-color: $background-color;
  border-color: $secondary-color;
  color: $secondary-color;
  border-radius: 50px;
  /* Use #e5efff in the box-shadow property */
  box-shadow: rgba(229, 239, 255, 0.3) 0 19px 38px,
    rgba(229, 239, 255, 0.22) 0 15px 12px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.btn-outline-secondary:hover {
  background-color: $secondary-color;
  border-color: $background-color;
  color: $background-color;
  transform: scale(1.1); /* Change this to the desired scale factor */
}
a {
  text-decoration: none;
}

//icons test
.icon-test {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-test ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  padding-left: 0;
}

.social-icon a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: hsl(203, 92%, 97%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid hsl(203, 92%, 97%);
  overflow: hidden;
}

.social-icon a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.social-icon:hover a::before {
  scale: 1 1;
}

.social-icon svg {
  // font-size: 2rem;
  fill: $primary-color;
  transition: 0.5s ease;
  z-index: 2;
  padding: 0.375rem;
  height: 2.5rem;
}

.social-btn a:hover svg {
  fill: #6e5494;
  transform: rotateY(360deg);
}

//Github Icon
/* Define linear gradient for GitHub icon */
.social-icon:nth-child(1) {
  // --bg-color: linear-gradient(
  //   to bottom,
  //   #24292e,
  //   #2e3338,
  //   #363b40,
  //   #3e4348,
  //   #464b50
  // );
  color: #24292e; /* GitHub's primary color */
}

/* Apply linear gradient to GitHub icon */
.social-icon:nth-child(1) svg path {
  fill: #6e5494;
}
/* Rotate SVG path on hover */
.social-icon:nth-child(1):hover svg {
  transform: rotate(360deg);
  transition: transform 0.3s ease; /* Add smooth transition for rotation */
}

/* Styles on hover */
.social-icon:nth-child(1):hover {
  color: #fff; /* Change to desired color on hover */
}

//Linkedin icon
/* Define linear gradient for LinkedIn icon */
.social-icon:nth-child(2) {
  // --bg-color: linear-gradient(to bottom, #0077b5, #005e8e);
  color: #0077b5; /* LinkedIn's primary color */
}

/* Apply linear gradient to LinkedIn icon */
.social-icon:nth-child(2) svg path {
  fill: #0077b5;
  transition: fill 0.3s ease; /* Add smooth transition for fill color */
}

/* Rotate SVG path on hover for LinkedIn */
.social-icon:nth-child(2):hover svg {
  transform: rotate(360deg);
  transition: transform 0.3s ease; /* Add smooth transition for rotation */
}

/* Styles on hover for LinkedIn */
.social-icon:nth-child(2):hover {
  color: #fff; /* Change to desired color on hover */
}

//Img Shadows
.img-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

//Interface
.interface {
  width: calc(100% - 120px);
  margin-left: 120px;
  position: absolute;
  padding-right: 3rem;
}

@media screen and (max-width: 477px) {
  //Small screens and (max-width: 447px)
  .interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.3s ease;
    padding-right: 0;
  }
  .side-bar.active ~ .interface {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 0.3s ease;
  }
}

//Sidebar
.side-bar {
  position: fixed;
  top: auto;
  overflow-y: scroll;
  border: 1px solid transparent;
  backdrop-filter: blur(16px);
  border-radius: 40px;
  margin-top: 9%;
  margin-left: 1rem;
  background-color: $background-color;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  height: 60vh;
  z-index: 999;
}
//Sidebar icons
// .i-color {
//   vertical-align: -.125em;
//   pointer-events: none;
//   fill: $primary-color;
//   height: 1.5rem;
// }
.nav-item a svg {
  fill: #010125;
}
.nav-item:hover svg {
  fill: $background-color;
  transition: fill 0.3s ease; /* Optional: Add a smooth transition effect */
}
.nav-item.active svg {
  /* Style for the SVG in the active state */
  fill: $background-color /* Your desired color for the active state */;
}

.side-bar svg {
  height: 3rem;
} //Icon size
.side-bar li {
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav-item {
  border-radius: 50px;
  border: 1px solid #e5efff;
  background-color: #e5efff;
  height: 65px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} //Style for each item
.nav-item svg {
  fill: $primary-color;
}
.nav-item:hover,
.nav-item.active {
  background-color: $primary-color;
  border: $primary-color;
  transform: perspective(7px) scale3d(-1, 1, 1) translateZ(0) !important; //To flip vertically
  transition: transform 0.6s ease; /* Optional: Add a smooth transition effect */
}
.nav-item.home {
  border-radius: 50px;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  height: 50px;
}

ul.nav.nav-pills.nav-flush.flex-column.mb-auto.text-center {
  align-content: center;
  display: flex;
  height: 60vh;
  justify-content: space-evenly;
} //Add padding for first icon

//Side navbar pills
.nav-pills .nav-link.active {
  background-color: $primary-color;
}

.nav-flush .nav-link {
  border-radius: 50px;
  width: 50px;
  // height: 50px;
} //This is for the circle shape of the icon pills
.py-3 {
  padding-top: 0.7rem !important;
}

//Target home svg color
.nav-item.home svg {
  fill: $background-color;
}

.nav-link {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 65px;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

// .icon-fill {background-color: $background-color;}

// .border-bottom:hover {border-bottom: 3px solid $secondary-color!important;}

//Bottom bar
.btm-bar {
  display: none;
}

@media (max-width: 468px) {
  //Small Screens and  {
  .side-bar {
    display: none;
  }

  //Bottom bar
  /* CSS for the sticky bottom sidebar */
  .btm-bar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 365px;
    transform: translate(-50%);
    background-color: $background-color;
    /* Adjust the height as needed */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    /* Add any other styles you need */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 999; /* Adjust the z-index to ensure it's above other content */
  }

  /* Optional: If you want to change the sidebar styles */
  .btm-bar > .nav a {
    text-decoration: none;
    // color: #333;
    border-radius: 50px;
    padding: 1rem;
    background-color: $primary-color;
    backdrop-filter: blur(3px);
    /* Add any other styles you need */
  }

  .btm-bar > .nav.d-flex {
    //To add space between icons
    gap: 0.375rem;
  }

  .btm-bar svg {
    fill: $background-color;
  }
  .nav-link.active {
    background-color: $background-color !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  }
  .nav-link.active span.nav-text {
    color: $primary-color;
  }
  .nav-link.active svg {
    fill: $primary-color;
  }
  /* Style the container */
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
    height: 3rem;
  }

  /* Style the text */
  .nav-text {
    font-size: 0.5rem; /* Adjust the font size as needed */
    // margin-top: 0.5rem; /* Adjust the margin as needed */
    color: $background-color;
  }
}

// Hero section

.image-container {
  position: relative;
  text-align: center;
}

/* Style for the image */
.image-container img {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}

/* Style for the text on the image */
.image-text {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  color: white; /* Set text color */
  font-size: 24px; /* Set text font size */
  font-weight: bold; /* Set text font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
}

.img-fluid-hero {
  max-width: fit-content;
  height: 80vh;
  border-radius: 0.375rem;
}
//To remove margin from hero section
.col-10.col-sm-8.col-lg-6 {
  margin-top: 0;
}

p.lead {
  text-align: center;
  color: $primary-color;
  // text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
}

//New hero layout for desktop

.hero-container {
  position: relative;
  height: 80vh;
  top: 1rem;
  margin-bottom: 5rem;
}

// .hero-cta-btns {
//   position: absolute;
//   top: 65%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
.window-container {
  height: 80vh;
  border-radius: 25px;
}

.window-header {
  background: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 50px;
}
.window-content {
  background-image: url("https://mariaelena-cossioclark.com/wp-content/uploads/2023/12/hero-img-8-scaled.jpg");
  background-position: top;
  object-fit: cover;
  height: 80vh; /* Example height */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.window-content .container-fluid {
  width: calc(100% - 120px);
}
.window-content img {
  object-fit: cover;
}
.container-fluid p.lead {
  color: $background-color;
  text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 1rem 3rem;
  display: inline-block;
}

.control-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.close-btn {
  background: #ef4444;
}
.minimize-btn {
  background: #facc15;
}
.maximize-btn {
  background: #22c55e;
}

//Parallax effect for mobile
.parallax-container {
  display: none;
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.parallax-layer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.parallax-image {
  width: 100%;
  height: auto;
  transform-origin: center center;
  transition: transform 0.4s ease-out;
}

.parallax-overlay {
  position: absolute;
  top: 225px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.parallax-overlay p {
  color: $primary-color;
  font-weight: 700;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
// .role-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-bottom: 1rem;
// }
.role-container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  color: $background-color;
}
.role-container p span.typed-text {
  font-weight: normal;
  color: $secondary-color;
}
.role-container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.role-container p span.cursor.typing {
  animation: none;
}
// .col-sm-2.col-md-6.col-lg-8.mx-auto.text-center {
//   position: relative;
//   top: 130px;
//   width: 500px;
// }
.col-sm-2.col-md-6.col-lg-8.mx-auto.text-center > p.lead {
  border-radius: 50px;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  text-align: center;
  color: $background-color;
  text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
  margin-bottom: 0;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

@media screen and (max-width: 477px) {
  .parallax-container {
    display: contents;
  }
  .container-fluid p.lead {
    padding: 1rem;
  }
  .parallax-overlay .container-fluid {
    width: 300px;
  }
  .image-text {
    height: 100px;
  }

  .parallax-overlay > .container {
    width: 300px;
    position: relative;
    top: -200px;
  }
  .parallax-image {
    padding-left: 0;
  }
  .parallax-overlay {
    padding-left: 0;
  }
  .role-container p {
    font-size: 1.5rem;
  }
  .hidden {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  .parallax-overlay {
    top: 0;
  }
  // .col-sm-2.col-md-6.col-lg-8.mx-auto.text-center > .d-grid {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  .col-sm-2.col-md-6.col-lg-8.mx-auto.text-center > p.lead {
    border-radius: 50px;
    padding: 1rem;
  }
}

//Small screens and (max-width: 477px)
@media screen and (max-width: 477px) {
  .image-container {
    display: none;
  }
  .hero-container {
    display: none;
  }
  img.d-block.mx-lg-auto.img-fluid-hero {
    width: 345px;
    height: 80vh;
    border-radius: 0.375rem;
  }
  .d-grid.gap-2.d-md-flex.justify-content-md-start {
    display: flex !important;
    justify-content: center;
  }
  h1.display-5.fw-bold.lh-1.mb-3 {
    text-align: center;
  }
  .row.flex-lg-row-reverse.align-items-center.g-5.py-5 {
    padding-bottom: 1rem !important;
    padding-top: 1.5rem !important;
  }
  .col-lg-6 {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-container,
  .window-container,
  .window-content {
    height: 60vh;
  }
  .window-content > .col-sm-2.col-md-6.col-lg-8.mx-auto.text-center {
    top: 70px;
  }
  // .image-text {
  //   width: 750px;
  //   height: 100px;
  //   top: 65%;
  //   padding-bottom: 0;
  // }
  .hero-container {
    margin-bottom: 3rem;
    padding: 1rem;
  }
  // .image-text {
  //   width: 500px;
  //   height: 200px;
  //   padding-bottom: 1rem;
  //   top: 70%;
  // }
  // .hero-cta-btns {
  //   top: 90%;
  // }
  .side-bar {
    margin-left: 2.5rem;
    margin-top: 8rem;
    // height: 50vh;
  }
}

.vh-60 {
  height: 60vh;
}

.resume-window-container {
  height: 100%;
  overflow-y: auto;
  border-radius: 25px;
}

.resume-window-content {
  height: 100%;
  overflow-y: auto;
}

//Resume Hero Container
// .resume-container {
//   position: relative;
//   height: fit-content;
//   top: 1rem;
//   z-index: -1;
// }

// .hero-cta-btns {
//   position: absolute;
//   top: 65%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
// .resume-window-container {
//   height: 80vh;
//   border-radius: 25px;
//   overflow: hidden;
// }

.resume-window-header {
  background: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 50px;
}
.resume-window-content {
  background-image: url("https://mariaelena-cossioclark.com/wp-content/uploads/2023/12/hero-img-8-scaled.jpg");
  background-position: top;
  object-fit: cover;
  max-height: 100%;
  height: 80vh; /* Example height */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow-y: auto;
  padding-right: 17px;
}
.resume-window-content img {
  object-fit: cover;
}

.control-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.close-btn {
  background: #ef4444;
}
.minimize-btn {
  background: #facc15;
}
.maximize-btn {
  background: #22c55e;
}
.profile-container img {
  height: 120px;
  width: 120px;
  object-fit: inherit;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.profile-container {
  margin-top: 20px;
  height: auto;
}

.profile-card {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.profile-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.profile-container .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-body {
  padding: 1rem;
}
.profile-container .col-md-8 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.rounded-circle {
  border-radius: 50%;
}
.btn-container {
  text-align: center;
  display: flex;
  gap: 2.5rem;
}
.custom-badge {
  display: inline-block;
  background-color: $primary-color;
  color: $background-color;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

//Small screens and (max-width: 477px)
@media screen and (max-width: 477px) {
  .resume-container {
    padding: 2rem;
  }
  .resume-window-content {
    height: fit-content;
  }
}
//About Me
.about-me.bg-light.container.mt-4.img-shadow {
  border-radius: 5rem;
  max-width: 85vw;
}
// .profile-container img {
//   display: flex;
//   border-radius: 4.5rem 0 0 4.5rem;
// }
// .profile-container img {
//   max-width: 30vw;
//   height: 68vh;
// }
.about-me-container.p-4 {
  margin-top: 2rem;
}
p.lead.fw-light.mb-4 {
  margin-top: 2rem;
}
.about-me > .row > * {
  padding-left: 2rem;
}
.about-me > .row {
  padding-top: 2rem;
}
.d-flex.flex-row {
  justify-content: start;
}

//Small screens and (max-width: 477px)
@media screen and (max-width: 477px) {
  .h2 {
    text-align: center;
    font-size: 3rem;
  }
  .about-me {
    margin-top: 0;
  }
  .about-me-container p {
    text-align: center;
  }
  .about-me-container .mt-4 {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .img-fluid-profile {
    height: 45vh;
  }
}

//Medium Screens and (min-width: 768px)
@media screen and (min-width: 768px) {
  .about-me h2 {
    text-align: center;
  }
  // .profile-container img {
  //   max-width: 100%;
  //   height: auto;
  // }
}
@media only screen and (min-width: 1024px) {
  p.lead.fw-light.mb-4 {
    text-align: justify;
    padding-left: 2rem;
  }
}

//Large screen and (min-width: 1250px)
@media screen and (min-width: 1250px) {
  .about-me > .row {
    padding-bottom: 2rem;
  }
  .about-me > .row {
    border-top-left-radius: 25px;
  }
}

//About me

.g-6,
.gx-6 {
  --bs-gutter-x: 4.5rem;
}

.g-6,
.gy-6 {
  --bs-gutter-y: 4.5rem;
}
.flex-row > a {
  padding-right: 2rem;
}

@media screen and (max-width: 468px) {
  .d-flex.flex-row {
    justify-content: center;
  }
  //To adjust icons to be centered
  .flex-row > a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  #about .icon-test {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .g-sm-6,
  .gx-sm-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-sm-6,
  .gy-sm-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .g-md-6,
  .gx-md-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-md-6,
  .gy-md-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media screen and (min-width: 992px) {
  .g-lg-6,
  .gx-lg-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-lg-6,
  .gy-lg-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .g-xl-6,
  .gx-xl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xl-6,
  .gy-xl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .g-xxl-6,
  .gx-xxl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xxl-6,
  .gy-xxl-6 {
    --bs-gutter-y: 4.5rem;
  }
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}
.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
@media screen and (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media screen and (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media screen and (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

//Resume
.profile-card {
  background: none;
  border: none;
}

//Portfolio Test
//Card Buttons

.portfolio-btn {
  text-align: inherit;
}
.g-6,
.gx-6 {
  --bs-gutter-x: 4.5rem;
}
.g-6,
.gy-6 {
  --bs-gutter-y: 4.5rem;
}

//Small screens and (max-width: 477px)
@media screen and (max-width: 477px) {
  .portfolio-btn {
    text-align: center;
  }
  .portfolio h2.h1.mb-3 {
    text-align: center;
  }
  .portfolio p.mb-4 {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .g-sm-6,
  .gx-sm-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-sm-6,
  .gy-sm-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .g-md-6,
  .gx-md-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-md-6,
  .gy-md-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media screen and (min-width: 992px) {
  .g-lg-6,
  .gx-lg-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-lg-6,
  .gy-lg-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .g-xl-6,
  .gx-xl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xl-6,
  .gy-xl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .g-xxl-6,
  .gx-xxl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xxl-6,
  .gy-xxl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
.mb-6 {
  margin-bottom: 4.5rem !important;
}
.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
.top-5px {
  top: 5px !important;
}
.top-10px {
  top: 10px !important;
}
.bottom-5px {
  bottom: 5px !important;
}
.bottom-10px {
  bottom: 10px !important;
}
.start-5px {
  left: 5px !important;
}
.start-10px {
  left: 10px !important;
}
.end-5px {
  right: 5px !important;
}
.end-10px {
  right: 10px !important;
}
.hcf-of-cover {
  object-fit: unset !important;
}
.hcf-op-center {
  object-position: center !important;
}
.hcf-ih-250 {
  height: 250px !important;
}
.hcf-ih-400 {
  height: 400px !important;
}

@media screen and (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-sm-250 {
    height: 250px !important;
  }
  .hcf-ih-sm-400 {
    height: 400px !important;
  }
}
@media screen and (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-md-250 {
    height: 250px !important;
  }
  .hcf-ih-md-400 {
    height: 400px !important;
  }
}
@media screen and (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-lg-250 {
    height: 250px !important;
  }
  .hcf-ih-lg-400 {
    height: 400px !important;
  }
}
@media screen and (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-xl-250 {
    height: 250px !important;
  }
  .hcf-ih-xl-400 {
    height: 400px !important;
  }
}
@media screen and (min-width: 1400px) {
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-xxl-250 {
    height: 250px !important;
  }
  .hcf-ih-xxl-400 {
    height: 400px !important;
  }
}
.hcf-transform {
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.hcf-transform:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}

//Portfolio Section
//Header for section
.headings h2 {
  text-align: center;
}
.headings {
  padding-top: 1rem;
  color: $primary-color;
}
@media screen and (max-width: 768px) {
  .headings {
    padding: 1rem;
  }
}
//...Cards

//Card btn's
.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-button {
  padding: 5px 10px;
  background-color: #010125;
  color: #fffafb;
  border: solid 1px #010125;
  cursor: pointer;
  transition: transform 0.3s;
}
.card-button:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  //For card to bounce
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
//Cards Structure
.custom-card {
  border-radius: 0.375rem;
  max-width: 400px;
  margin: 20px auto;
}
//Adjust blog card width
@media screen and (max-width: 468px) {
  .custom-card {
    max-width: 350px;
    border-radius: 0.375rem;
  }
}

.custom-card img {
  border-radius: 0.375rem 0.375rem 0 0;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

//Blog cards
.row.row-cols-1.row-cols-sm-2.row-cols-md-2.row-cols-lg-4.g-4.justify-content-center.align-items-stretch
  > .col {
  width: 33.33%;
}

.card.custom-card.h-100 {
  max-height: 500px;
  overflow: hidden;
}

.card.custom-card.h-100 > .card-body {
  overflow: hidden;
}

.card.custom-card.h-100 > .card-body .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.custom-card.h-100 > .card-body .card-title > .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 477px) {
  //Small screens
  .blog-card {
    height: 320px;
  }
  .card-body-test {
    margin: 1rem;
  }
  .blog-cards .row {
    display: flex;
    flex-direction: column;
  }
  .blog-cards .row > .col {
    padding-right: 0;
  }

  .blog-cards .col {
    margin: 0 auto 20px;
  }
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row.row-cols-1.row-cols-sm-2.row-cols-md-2.row-cols-lg-4.g-4.justify-content-center.align-items-stretch
    > .col {
    width: auto;
  }
}

//About me Section (Test)
.section-container {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}
.primary-container {
  grid-column: span 1;
}
.primary-container {
  display: flex;
  margin: 0;
  border-radius: 24px;
  height: 80vh;
  background: url(http://mariaelena-cossioclark.com/wp-content/uploads/2023/10/codioful-formerly-gradienta-rKv4HduvzIE-unsplash-scaled.webp);
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 840px;
  margin: 0;
}

//Masked image for about me
.img-container {
  position: relative;
  width: 500px;
  height: 500px;
}
.img-container img {
  border-radius: 25px;
  border-color: 1px solid $primary-color;
}

//Small screens and (max-width: 477px)
@media screen and (max-width: 477px) {
  .primary-container {
    padding: 32px;
    height: 500px;
  }
  .section-container {
    padding: 1rem;
  }
}
//Large screens and (max-width: 1294px)
@media screen and (max-width: 1294px) {
  .primary-container {
    grid-column: span 2;
    min-height: unset;
  }
  .container-wrapper {
    max-width: none;
  }
}
//Social Links//
.fa {
  font-size: 3.55rem;
}

.social-links {
  justify-content: flex-end;
  padding-right: 1rem;
}
.social-links a {
  color: #615ab7;
}

//Small screens and (max-width: 477px)
@media screen and (max-width: 477px) {
  .social-links {
    justify-content: center;
  }
}

//Footer
//New layout for footer
.wrapper {
  padding: 7rem 0 0;
}
.footer.page {
  grid-row-gap: 32px;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 32px 32px 0 32px;
}
section.section.footer-section {
  background-color: $background-color;
}
// section.section.footer-section > .container {padding-bottom: 1.5rem;}
.footer.page > .row {
  height: auto;
}
.col-md-3 > .icon-test {
  padding-top: 1rem;
}
.footer-based {
  padding: 0.375rem;
  background-color: #010125;
  color: #e5efff;
  text-align: center;
}
.footer.wrapper:not(.interface) {
  width: 100vw;
  position: absolute;
  left: -140px;
  // z-index: -1;
}
@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  .footer.wrapper:not(.interface) {
    right: -120px;
    left: 20px;
  }
}

@media screen and (max-width: 991px) and (max-width: 1200px) {
  .footer.page {
    border-top: 0 rgba(255, 255, 255, 0);
    margin-top: 0;
    padding: 32px;
  }
  // .footer.wrapper:not(.interface) {
  //   left: -120px;
  // }
}
//Align social icons in footer width:468px
@media screen and (max-width: 468px) {
  .col-md-3 > .icon-test {
    justify-content: center;
  }
  .cta-cards {
    margin-bottom: 2rem;
  }
  .footer-based {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 468px) {
  .footer.wrapper:not(.interface) {
    left: 0px !important;
    bottom: 100px;
  }
}

//Adjust width of footer
@media (max-width: 768px) {
  .footer.wrapper:not(.interface) {
    width: 100vw;
    margin-left: 0;
    position: relative;
    padding-right: 0;
    left: -120px;
  }
  .footer h2.heading-6 {
    font-size: 1.27rem !important;
    color: #010125;
  }
}

.footer-square.row {
  text-align: center;
}
.cta-cards {
  border-radius: 0.375rem;
  border: 1px solid $secondary-color;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
  height: 100px;
}
.footer h2.heading-6 {
  font-size: 1.5rem;
  color: $primary-color;
}
//To target footer btn's
.cta-cards > .btn.btn-outline-secondary.btn-lg.px-4 {
  height: 35px;
  width: 160px;
  font-size: 1rem;
  box-shadow: none;
  padding: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Divider for footer
.svg-separator {
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom {
  top: auto;
  bottom: 0;
}
.sep1 {
  transform: translateY(-100%) translateY(2px) scale(1, 1);
  transform-origin: top;
}
.footer-separator {
  position: absolute;
  width: 100vw;
  left: 0;
}

//Case Studies
//First section
.main-container {
  align-items: center;
  background-color: var(--White, #fff);
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 112px 20px;
}

@media screen and (max-width: 991px) {
  .main-container {
    max-width: 100%;
  }
}

.header {
  align-self: center;
  margin-bottom: -22px;
  width: 100%;
  max-width: 1312px;
}

@media screen and (max-width: 991px) {
  .header {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.content {
  gap: 20px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .content {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.article {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}

@media screen and (max-width: 991px) {
  .article {
    width: 100%;
  }
}

.author-info {
  display: flex;
  align-items: flex-start;
  align-self: start;
  width: 155px;
  max-width: 100%;
  gap: 8px;
}

@media screen and (max-width: 991px) {
  .author-info {
    justify-content: center;
  }
}

.author-icon {
  color: var(--Black, #000);
  align-self: stretch;
  font: 400 1rem/150% Roboto, sans-serif;
}

.author-name {
  color: var(--Black, #000);
  align-self: stretch;
  font: 600 1rem/150% Roboto, sans-serif;
}

.article-meta {
  display: flex;
  align-items: flex-start;
  align-self: start;
  width: 100%;
  gap: 8px;
}

@media screen and (max-width: 991px) {
  .article-meta {
    justify-content: center;
  }
}

.article-date {
  color: var(--Black, #000);
  margin: auto 0;
  font: 400 1rem/150% Roboto, sans-serif;
}

.article-divider {
  color: var(--Black, #000);
  align-self: stretch;
  font: 400 1rem/150% Roboto, sans-serif;
}

.article-reading-time {
  color: var(--Black, #000);
  margin: auto 0;
  font: 400 1rem/150% Roboto, sans-serif;
}

.share-buttons {
  align-items: flex-start;
  align-self: start;
  display: flex;
  width: 152px;
  max-width: 100%;
  flex-direction: column;
}

.share-label {
  color: var(--Black, #000);
  font: 600 1rem/150% Roboto, sans-serif;
}

.share-icons {
  align-items: flex-start;
  align-self: start;
  display: flex;
  margin-top: 16px;
  width: 100%;
  gap: 8px;
}

@media screen and (max-width: 991px) {
  .share-icons {
    justify-content: center;
  }
}

.share-icon {
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  background-color: var(--Light-Grey, #f4f4f4);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px;
}

.share-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}

.sidebar {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar-image {
  aspect-ratio: 1.56;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .sidebar-image {
    max-width: 100%;
    margin-top: 40px;
  }
}

//Case studies template
.projects-overflow .project-details {
  width: 100%;
}
.projects-overflow .item {
  position: relative;
  margin-top: 2.5rem;
}
.projects-overflow .item:first-child {
  margin-top: 0;
}
@media (min-width: 1200px) {
  .projects-overflow .project-details {
    max-width: 24rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .projects-overflow .project-details {
    max-width: 20rem;
  }
}
@media (min-width: 992px) {
  .projects-overflow .project-details {
    position: absolute;
  }
  .projects-overflow .item {
    margin-top: 10rem;
  }
}
@media (max-width: 991.98px) {
  .projects-overflow .project {
    box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04) !important;
    border-radius: 0.4rem !important;
  }
  .projects-overflow .project figure img {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .projects-overflow .project-details .card {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    box-shadow: none !important;
  }
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.post-header {
  font-size: 0.8rem;
}
.post-header {
  margin: 0 0.6rem 0 0.4rem;
}
@media only screen and (max-width: 767px) {
  .post-header {
    display: none;
  }
}

.post-category {
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-size: 0.7rem;
  font-weight: 700;
  color: #aab0bc;
}
.post-category {
  margin-bottom: 0.4rem;
}
.shape.rellax {
  position: absolute;
}
.text-line {
  position: relative;
  vertical-align: top;
  padding-left: 1.4rem;
}
.text-line:not(.text-gradient) {
  display: inline-flex;
}
.text-line:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-60%);
  left: 0;
  width: 0.75rem;
  height: 0.05rem;
  background: #3f78e0;
}
.text-bg-pill {
  color: $primary-color;
  background-color: #fab758;
}
.text-blue {
  color: #3f78e0;
}
.text-line.text-blue:before {
  background-color: #3f78e0;
}
.text-sky {
  color: #5eb9f0;
}
.text-line.text-sky:before {
  background-color: #5eb9f0;
}
.text-purple {
  color: #747ed1;
}
.text-line.text-purple:before {
  background-color: #747ed1;
}
.text-grape {
  color: #605dba;
}
.text-line.text-grape:before {
  background-color: #605dba;
}
.text-violet {
  color: #a07cc5;
}
.text-line.text-violet:before {
  background-color: #a07cc5;
}
.text-pink {
  color: #d16b86;
}
.text-line.text-pink:before {
  background-color: #d16b86;
}
.text-fuchsia {
  color: #e668b3;
}
.text-line.text-fuchsia:before {
  background-color: #e668b3;
}
.text-red {
  color: #e2626b;
}
.text-line.text-red:before {
  background-color: #e2626b;
}
.text-orange {
  color: #f78b77;
}
.text-line.text-orange:before {
  background-color: #f78b77;
}
.text-yellow {
  color: #fab758;
}
.text-line.text-yellow:before {
  background-color: #fab758;
}
.text-green {
  color: #45c4a0;
}
.text-line.text-green:before {
  background-color: #45c4a0;
}
.text-leaf {
  color: #7cb798;
}
.text-line.text-leaf:before {
  background-color: #7cb798;
}
.text-aqua {
  color: #54a8c7;
}
.text-line.text-aqua:before {
  background-color: #54a8c7;
}
.text-navy {
  color: #343f52;
}
.text-line.text-navy:before {
  background-color: #343f52;
}
.text-ash {
  color: #9499a3;
}
.text-line.text-ash:before {
  background-color: #9499a3;
}
.text-white {
  color: #fff;
}
.text-line.text-white:before {
  background-color: #fff;
}
.text-light {
  color: #fefefe;
}
.text-line.text-light:before {
  background-color: #fefefe;
}
.text-gray {
  color: #f6f7f9;
}
.text-line.text-gray:before {
  background-color: #f6f7f9;
}
.text-dark {
  color: #262b32;
}
.text-line.text-dark:before {
  background-color: #262b32;
}
.text-line.text-primary:before {
  background-color: $primary-color;
}
.text-muted {
  color: #aab0bc;
}
.text-line.text-muted:before {
  background-color: #aab0bc;
}
.post-content {
  position: relative;
}

.shape.rellax {
  z-index: 1;
}
.position-relative .shape.rellax + figure {
  position: relative;
  z-index: 2;
}

.shadow {
  box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04) !important;
}
.shadow-sm {
  box-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.02) !important;
}
.shadow-lg {
  box-shadow: 0rem 0.25rem 1.75rem rgba(30, 34, 40, 0.07) !important;
}
.shadow-none {
  box-shadow: none !important;
}

.more {
  font-weight: 700;
  letter-spacing: -0.01rem;
  display: inline-block;
}
.more:after {
  line-height: 1;
  // font-family: "Font Awesome 5 Free";
  // content: "\f061";
  padding-left: 0.05rem;
  font-size: 0.9rem;
  font-weight: normal;
  vertical-align: -3px;
  margin-right: -0.25rem;
  display: inline-block;
}
a.hover::before {
  position: absolute;
  width: 40%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}
a.hover::before {
  content: "";
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
a.hover:hover:before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}
//Link Color variations
.link-blue {
  color: #3f78e0;
}
.link-blue:hover,
.link-blue:focus {
  color: #3f78e0;
}
.link-sky {
  color: #5eb9f0;
}
.link-sky:hover,
.link-sky:focus {
  color: #5eb9f0;
}
.link-purple {
  color: #747ed1;
}
.link-purple:hover,
.link-purple:focus {
  color: #747ed1;
}
.link-grape {
  color: #605dba;
}
.link-grape:hover,
.link-grape:focus {
  color: #605dba;
}
.link-violet {
  color: #a07cc5;
}
.link-violet:hover,
.link-violet:focus {
  color: #a07cc5;
}
.link-pink {
  color: #d16b86;
}
.link-pink:hover,
.link-pink:focus {
  color: #d16b86;
}
.link-fuchsia {
  color: #e668b3;
}
.link-fuchsia:hover,
.link-fuchsia:focus {
  color: #e668b3;
}
.link-red {
  color: #e2626b;
}
.link-red:hover,
.link-red:focus {
  color: #e2626b;
}
.link-orange {
  color: #f78b77;
}
.link-orange:hover,
.link-orange:focus {
  color: #f78b77;
}
.link-yellow {
  color: #fab758;
}
.link-yellow:hover,
.link-yellow:focus {
  color: #fab758;
}
.link-green {
  color: #45c4a0;
}
.link-green:hover,
.link-green:focus {
  color: #45c4a0;
}
.link-leaf {
  color: #7cb798;
}
.link-leaf:hover,
.link-leaf:focus {
  color: #7cb798;
}
.link-aqua {
  color: #54a8c7;
}
.link-aqua:hover,
.link-aqua:focus {
  color: #54a8c7;
}
.link-navy {
  color: #343f52;
}
.link-navy:hover,
.link-navy:focus {
  color: #343f52;
}
.link-ash {
  color: #9499a3;
}
.link-ash:hover,
.link-ash:focus {
  color: #9499a3;
}
.link-white {
  color: #fff;
}
.link-white:hover,
.link-white:focus {
  color: #fff;
}
.link-light {
  color: #fefefe;
}
.link-light:hover,
.link-light:focus {
  color: #fefefe;
}
.link-gray {
  color: #f6f7f9;
}
.link-gray:hover,
.link-gray:focus {
  color: #f6f7f9;
}

//Blog Posts
//Top Image
.bg-with-image {
  position: relative; /* Position the container relative to allow for the pseudo-element */
}

.bg-with-image::before {
  content: "";
  background-image: url("http://mariaelena-cossioclark.com/wp-content/uploads/2023/11/blog-post-1-top-scaled.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute; /* Position the pseudo-element absolutely within the container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5; /* Adjust the opacity (0.5 for 50% opacity) */
  z-index: -1; /* Place it behind the content */
}
@media (max-width: 468px) {
  .bg-with-image {
    background-size: contain; /* Adjust background size to contain the image */
  }
  .container.mt-5 {
    margin-top: 0.5rem !important;
  }
}

//Test for blog post cards
.box {
  width: 1107px;
  height: 1053px;
}

.box .group {
  position: fixed;
  width: 1113px;
  height: 1053px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 1107px;
  height: 1053px;
}

.box .rectangle {
  width: 945px;
  height: 945px;
  top: 108px;
  left: 162px;
  background-color: #ffffff;
  border-radius: 25px;
  position: absolute;
  border: 2px solid;
  border-color: #000000;
}

.box .div {
  width: 324px;
  height: 324px;
  top: 28px;
  left: 0;
  background-color: #fcbc2a;
  border-radius: 25px;
  position: absolute;
  border: 2px solid;
  border-color: #000000;
}

.box .lightbulb {
  position: absolute;
  width: 192px;
  height: 192px;
  top: 94px;
  left: 66px;
  object-fit: cover;
}

.box .rectangle-2 {
  width: 138px;
  height: 57px;
  top: 0;
  left: 36px;
  background-color: #ffffff;
  border-radius: 55.5px;
  position: absolute;
  border: 2px solid;
  border-color: #000000;
}

.box .text-wrapper {
  position: absolute;
  width: 77px;
  top: 12px;
  left: 72px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .lorem-ipsum-is {
  position: absolute;
  width: 676px;
  top: 275px;
  left: 359px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-2 {
  position: absolute;
  width: 161px;
  top: 166px;
  left: 359px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

//Test for Resume
.section-title h2 {
  text-align: center;
  font-size: 3rem;
  color: $background-color;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.resume > .container {
  padding: 1.5rem;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

//Test for blog cards//
.container-blog {
  display: flex;
}

.first-column {
  flex: 1;
}

.first-column {
  overflow-y: auto;
  max-height: calc(100vh - -250px); /* Adjust based on your navbar height */
  padding-right: 15px; /* Add padding to avoid scrollbar overlap */
}

.second-column {
  position: sticky;
  top: 56px; /* Adjust based on your navbar height */
  border-left: 1px solid $primary-color;
  padding-right: 3rem;
}
img.card-img-top.card-img-blog-post {
  height: 200px;
}

.card-blog-post {
  margin-bottom: 20px;
  margin-bottom: 20px;
  // border: none;
  transition: none !important;
  transform: none !important;
}
.article-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}
.card-img-blog-post {
  border-top-right-radius: 0.375rem !important;
  border-top-left-radius: 0.375rem !important;
}

.banner-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  height: 450px;
  border-radius: 0.375rem;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
}

nav.blog-pagination {
  display: flex !important;
  justify-content: space-between;
  padding-right: 1rem;
}
a.btn.btn-outline-primary {
  border-radius: 50px;
}

@media (max-width: 980px) {
  .second-column {
    border-left: none;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
  }
  img.card-img-top.card-img-blog-post {
    height: 200px;
  }
  .first-column {
    overflow-y: visible; /* or overflow-y: initial; or remove it entirely */
    max-height: none; /* or max-height: initial; or remove it entirely */
    padding-right: 0; /* or remove it entirely */
  }
}
@media (max-width: 468px) {
  .first-column {
    overflow-y: visible; /* or overflow-y: initial; or remove it entirely */
    max-height: none; /* or max-height: initial; or remove it entirely */
    padding-right: 0; /* or remove it entirely */
  }
}
@media (max-width: 468px) {
  .container-blog {
    flex-direction: column; /* Stack columns on top of each other for small screens */
    align-items: center;
    padding: 2rem;
    margin-top: 0 !important;
  }

  .first-column {
    width: 100%; /* Take full width on small screens */
    margin: 0 auto; /* Center the content */
  }
  .second-column {
    padding: 0;
  }
  nav.blog-pagination {
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
  .banner-container {
    height: auto;
  }
}

//blog card test
.card-body-test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 1rem;
}
.blog-card {
  position: relative;
  width: auto;
  height: 450px;
  background: #000;
  border-radius: 0.375rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.54);

  .poster {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      bottom: -45%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.3s;
    }

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
  }

  &:hover .poster::before {
    bottom: 0;
  }

  &:hover .poster img {
    transform: scale(1.1);
  }

  .details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: 0.3s;
    color: #fff;
    z-index: 2;

    h1 {
      font-weight: 700;
      font-size: 1.5em;
      margin-bottom: 0.3em;
    }

    h2 {
      font-weight: 400;
      font-size: 1em;
      margin-bottom: 0.8em;
      opacity: 0.6;
    }

    .desc {
      color: #fff;
      opacity: 0.8;
      line-height: 1.5;
      margin-bottom: 0.8em;
    }

    button {
      outline: none;
      padding: 0.5rem 0.75rem;
      color: #fff;
      background: transparent;
      border: 1.5px solid rgba(255 255 255 / 0.4);
      border-radius: 50px;
    }
  }

  &:hover .details {
    bottom: 0;
  }
  &:hover button a {
    color: $background-color;
  }
}
@media (max-width: 468px) {
  .card-body-test {
    grid-template-columns: 1fr;
    margin-bottom: 8rem;
  }
}

//Blog cards to display contents in mobile
@media (max-width: 468px) {
  .blog-card {
    display: block; /* Show on screens up to 767px wide */
  }

  .blog-card {
    position: relative;
    width: auto;
    height: 450px;
    background: #000;
    border-radius: 0.375rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.54);

    .poster {
      position: relative;
      inset: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        bottom: 0; /* Adjusted for mobile view */
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: 0.3s;
      }

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
      }
    }

    .details {
      position: absolute;
      bottom: 0; /* Adjusted for mobile view */
      left: 0;
      width: 100%;
      height: auto;
      padding: 1.5em 1.5em 2em;
      background: #000a;
      backdrop-filter: blur(16px) saturate(120%);
      transition: 0.3s;
      color: #fff;
      z-index: 2;

      h1 {
        font-weight: 700;
        font-size: 1.5em;
        margin-bottom: 0.3em;
      }

      h2 {
        font-weight: 400;
        font-size: 1em;
        margin-bottom: 0.8em;
        opacity: 0.6;
      }

      .desc {
        color: #fff;
        opacity: 0.8;
        line-height: 1.5;
        margin-bottom: 0.8em;
      }

      button {
        outline: none;
        padding: 0.5rem 0.75rem;
        color: #fff;
        background: transparent;
        border: 1.5px solid rgba(255 255 255 / 0.4);
        border-radius: 50px;
      }
    }
  }
}

/* Base styles */

/* Mobile devices */
@media screen and (max-width: 390px) {
  .parallax-container {
    display: contents;
  }
}
/* Styles for iPhone 13 Pro in portrait mode */
@media only screen and (min-device-width: 428px) and (max-device-width: 428px) and (-webkit-min-device-pixel-ratio: 3) {
}

@media screen and (max-width: 767px) {
  /* Adjust styles for small screens */
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Adjust styles for medium-sized screens (tablets) */
  // .parallax-container {
  //   display: none;
  // }
}

/* Small laptops and desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* Adjust styles for larger screens (small laptops and desktops) */
  //Hero section Desktop 13''
  // .image-text {
  //   top: 66%;
  // }
  // .hero-cta-btns {
  //   top: 85%;
  // }
  // .parallax-container {
  //   display: none;
  // }
}

/* Standard desktops and projectors */
@media screen and (min-width: 1200px) {
  /* Adjust styles for standard desktop screens and projectors */
  body {
    max-width: 1400px; /* Set a maximum width for content */
    margin: 0 auto; /* Center content on larger screens */
    font-size: 22px; /* Increase font size for better readability */
  }
  // .parallax-container {
  //   display: none;
  // }
}
