$primary: #010125;


//Homepage style//
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

//End Home page style//

//Header Home//
header.entry-header{ display: none;}
// header.py-5{padding-top: 1rem!important;}

//Hero Section//
.hero{
  display: flex;
  flex-wrap: nowrap;
}

//Profile picture//
.profile-img{
  max-width: 50%;
  border-radius: 24px;
  height: fit-content;
}
.profile > p {
display: flex;
justify-content: center;
}

//Headings//
.headings{
  text-align: center;
}
hr{
  line-height: 1rem;
}

//Social Links//
.fa{font-size: 4rem;}

//Portfolio Cards Section//
.portfolio-cards{
  display: flex;
  align-items: center;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


//Footer Homepage//
.entry-footer{display: none;}
.comment-respond {display: none;}
#wrapper-footer{display: none;}
